@font-face {
  font-family: 'exo-bold';
  src: local('exo-bold'), url(fonts/exo-bold.woff2) format('woff');
}

@font-face {
  font-family: 'roboto-regular';
  src: local('roboto-regular'), url(fonts/roboto-regular.woff2) format('woff');
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.home {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
