@font-face {
  font-family: 'exo-bold';
  src: local('exo-bold'), url(fonts/exo-bold.woff2) format('woff');
}

@font-face {
  font-family: 'roboto-regular';
  src: local('roboto-regular'), url(fonts/roboto-regular.woff2) format('woff');
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.home {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
}

.input {
  border-radius: 5px;
  font-family: roboto-regular;
}

.category-item {
  padding: 5px;
  font-family: exo-bold;
  cursor: pointer;
}

.category-item:hover {
  color: red;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 5;
  border: 1px solid #ccc;
  padding: 10px 20px;
}

.coffee-item {
  margin: 5px 0;
  padding: 2px 5px;
}

.title {
  font-family: roboto-regular;
}

.ingredient,
.description {
  display: block;
  font-family: roboto-regular;
}

ul {
  list-style-type: none;
}
